.highlight-processing {
    background-color: #fff3cd !important; /* a soft yellow to indicate processing */
}
.highlight-completed-success {
    background-color: #d4edda !important; /* Light green */
}
.highlight-completed-failure {
    background-color: #f8d7da !important; /* Light red */
}
